<div class="container" id="splash">
  <div class="row text-center">

    <!-- Show all of the statistics about all of the repositories and users within time frame -->
    <%= render 'hubstats/partials/quick_stats' %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'hubstats/partials/quick_addition_stats' %>
  </div>
