<div class="container" id="splash">
  <div class="row text-center">
    <%= render 'hubstats/partials/quick_stats' %>
  </div>
  
  <div class="row">
    <div class="col col-lg-12">
      <h3> All Repositories </h3>       
      <%= render 'hubstats/tables/repos' %>
    </div>
    
  </div>
</div>
