<div class="container" id="repo">

  <%= render 'hubstats/partials/dashboard', :collection => dashboard %>

  <div class="row">
    <div class="col col-lg-12">
      <%= render 'hubstats/tables/repos' %>
      <div class="text-center">
        <%= will_paginate @repo, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>

