<div class="container" id="footer">
  <hr>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="footer-text">
        © 2015 Sport Ngin
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="footer-main-text">
        Hubstats
        <br>
        <br>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="footer-text" align="right">
        <%= link_to("Source Code", "https://github.com/sportngin/hubstats") %>
      </div>
    </div>
  </div>
</div>
