<div class="container" id="footer">
  <hr>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <!-- Show the Sport Ngin copyright information, change if using a different copyright -->
      <div class="footer-text">
        © 2019 Sport Ngin
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <!-- Show the Hubstats name in the footer -->
      <div class="footer-main-text">
        Hubstats
        <br>
        <br>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <!-- Have a link to the Hubstats source code on github, change if wishing to connect to a different repository -->
      <div class="footer-text" align="right">
        <%= link_to("Source Code", "https://github.com/sportngin/hubstats") %>
      </div>
    </div>
  </div>
</div>
