<!-- <div class="input-daterange">
    <input type="text" class="input-small" data-behaviour="datepicker" id="start" placeholder="Start Date"/>
    to
    <input type="text" class="input-small" data-behaviour="datepicker" id="end" placeholder="End Date"/>

    <button type="button" data-toggle="collapse">
      Submit Time Range<span class="icon-bar"></span>
    </button>
 </div>
 -->
