<div class="row single-user">

  <!-- Show the avatar of the github user and the user's username -->
  <div class="user-image-small col-lg-1 col-md-1 col-sm-1 col-xs-2" >
    <img src= <%= user.avatar_url%> alt= <%= user.login %> >
  </div>
  <div class="user-info col-lg-3 col-md-3 col-sm-3 col-xs-3" vertical-align="middle">
    <h4> 
      <%= link_to user.login, user_path(user) %>
    </h4>
  </div>

  <!-- Show the number of pull requests and comments -->
  <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-3 col-xs-3">
    <div class="pull-right">
      <span class="text-large">0</span>
      <span class="mega-octicon octicon-git-pull-request"></span>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="pull-right">
      <span class="text-large">0</span>
      <span class="mega-octicon octicon-comment"></span>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <div class="pull-right">
      <a class="subtle" href=<%= user.html_url %> > 
        <span class="octicon octicon-mark-github"></span>
      </a>
      </span>
    </div>
  </div>
</div>
