<table class="table">
  <tr>
    <th>Pull Request</th>
    <th>User</th>
    <th>Closed</th>
  </tr>
  <% @pull_requests.each do |pull| %>
    <tr>
      <td><%= link_to pull.title, repo_pull_request_path({:repo => @repo.name, :id => pull.id}) %></td>
      <td><%= pull.user.login %></td>
      <td><%= distance_of_time_in_words(DateTime.now,pull.closed_at) %> ago</td>
    </tr>
  <% end %>
</table>