<div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
  <h1> <%= @stats[:user_count] %> </h1>
  <h4> Active Users </h4>
</div>
<div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
  <h1> <%= @stats[:pull_count] %> </h1>
  <h4> Pull Requests </h4>
</div>
<div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
  <h1><%= @stats[:comment_count] %> </h1>
  <h4> Comments </h4>
</div>