<div class="row">
  <h4> Repositories </h4>
  <% if @repos.length > 0 %>
    <div class="comments">
      <%= render partial: 'hubstats/partials/repo', collection: @repos, as: :repo %>
    </div>
  <% else %>
    <p> No repos to show </p>
  <% end %>
</div>
