<table class="table">
  <tr>
    <td><h5> User </h5></td>
    <th><h5 align="center"> Pull Requests </h5></th>
    <th><h5 align="center"> Comments </h5></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.login, user_path(user) %> </td>
      <td class="numeric"><%= user.pull_request_count %> </td>
      <td class="numeric"><%= user.comment_count %></td>
    </tr>
  <% end %>
</table>