<div class="container" %>
  <div class="row" %>
    <div class="col col-lg-3 col-md-3 col-sm-3">

    <!-- Allow for filtering by repository or user -->
      <div class="form-group">
        <input class="select2-control" id="repos">
        </input>
      </div>
      <div class="form-group">
        <input class="select2-control" id="users">
        </input>
      </div>
    </div>

    <div class="col col-lg-9 col-md-9 col-sm-9">
      <!-- Show a title that says "Deploys" -->
      <div class="row">
        <div class="col col-lg-12">
          <h3> Deploys </h3>  
        </div>
      </div>  

      <!-- Allow viewing deploys by newest first or oldest first -->
      <div id="sort-group" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" id="desc">
          <input type="radio" name="sort"> Newest
        </label>
        <label class="btn btn-default" id="asc">
          <input type="radio" name="sort"> Oldest
        </label>
      </div>

      <!-- Allow to group by repository and user -->
      <select id="group-by" class="form-control pull-right" style="width: 100px; display: inline; ">
        <option value="">Group By</option>
        <option value="user">User</option>
        <option value="repo">Repo</option>
      </select>

      <!-- Show all of the deploys -->
      <%= render 'hubstats/tables/grouped_deploys' %>

      <!--Contains the pagination so that only 15 deploys show per page-->
      <div class="text-center">
        <%= will_paginate @deploy, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
