<div class="container" id="deploy">
<!--  <div class="row">
    <h1 class="title text-center">
      <%= link_to @deploy.name.titleize, deploy_path %> /
      <a href=<%=@pull_request.html_url%>>
        <%= @pull_request.title.titleize %>
      </a>
    </h1>
  </div>

  <div class="col col-lg-8 col-lg-offset-2">
    <div class="row">
      <h4> Comments </h4>
    </div>
  </div>-->
</div>
