<div class="container" id="deploy">
  <div class="row">
    <h1 class="title text-center">
      <%= link_to @repo.name.titleize, repo_path(@repo.name) %> /
      <%= @deploy.git_revision.titleize %>
    </h1>
    <%= render "hubstats/partials/quick_stats" %>
  </div>

  <div class="col col-lg-8 col-lg-offset-2">
    <div class="row">
      <h4> Pull Requests </h4>
      <%= render 'hubstats/tables/pulls-condensed' %>
    </div>
  </div>

</div>
