<div class="container" id="user">
  <div class="row">
    <div class="col col-lg-5 col-lg-offset-2">
      <h3> All Users </h3>
      <%= render 'hubstats/metrics/users_table' %>
    </div>
  </div>
</div>