<div class="container" id="user"%>

  <%= render partial: 'hubstats/partials/dashboard' %>

  <div class="row"%>
    <div class="col col-lg-12">
      <%= render 'hubstats/tables/users' %>
      <div class="text-center">
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
