<div class="container" id="repo">
  <div class="row">
    <h1 class="title text-center"> <%= @user.login %> </h1>
    <div class="col col-md-4 col-sm-4 text-center">
      <h1> <%= @pulls.length %> </h1>
      <h4> Pull Requests </h4>
    </div>
    <div class="col col-md-4 col-sm-4 text-center">
      <h1> <%= @comments.length %> </h1>
      <h4> Comments </h4>
    </div>
    <div class="col col-md-4 col-sm-4 text-center">
      <h1> <%= @reviews ? @reviews.reviews_count : 0 %> </h1>
      <h4> Pull Requests Reviewed </h4>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>