<div class="container" id="repo">
  <div class="row">
    <h1 class="title text-center"> <%= @user.login %> </h1>
    <%= render 'hubstats/metrics/quick_stats' %>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <h3> Recent Comments </h3>
      <%= render 'hubstats/metrics/comments_table' %>
    </div>
  </div>
</div>