<div class="container" id="repo">
  <div class="row">
    <h1 class="title text-center"> <%= @user.login %> </h1>
    <%= render 'hubstats/metrics/quick_stats' %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
      <h3> Comments </h3>
      <% if @comments.length > 0 %>
        <div class="comments">
          <%= render partial: 'hubstats/partials/comment', collection: @comments, as: :comment %>
        </div>
      <% else %>
        <p> No comments to show </p>
      <% end %>
    </div>
  </div>
</div>