/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require hubstats/bootstrap
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 */


.numeric, .title {
  text-align: center;
}

#header {
  padding-top: 5px; 
}

#header .title {
  font-size: 28px;
}


.user-image {
  display: inline-block;
}

.user-image > img{
  width: 45px;
  height: 45px;
}

.pulls {
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.row .single-pull {
  padding:5px;
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

.pull-info {
  display: inline-block;
}

.pull-info > h5 {
  margin: 0px;
}