/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require hubstats/bootstrap
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker
 *= require_tree .
 */

/*For the 'Apply' button*/
.apply {
  float: right;
  margin-top: 8px;
}

/*For the active tab on the navigation bar*/
.navbar-active {
  font-weight: bold;
  color: #E0E0E0;
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

/*For the datepicker*/
.input-daterange {
  width: 245px;
  top: 8px;
}

/*For the footer*/
.footer-main-text {
  font-size: 18px;
  color: #B0B0B0;
  text-align: center;
}

/*For the footer*/
.footer-text {
  font-size: 12px;
  color: #A0A0A0;
  line-height: 20px;
}

.numeric, .title {
  text-align: center;
}

#header {
  padding-top: 5px; 
}

#header .title {
  font-size: 28px;
}

.text-large {
  font-size: 32px;
}

.text-small {
  font-size: 12px;
  margin: 0px;
}
.stat-label {
  display: inline-block;
}

.single-comment > .user-image, 
.single-comment > .user-image-small,
.single-pull > .user-image, 
.single-pull > .user-image-small,
.single-user > .user-image,
.single-user > .user-image-small,
.single-deploy > .user-image,
.single-deploy > .user-image-small {
  padding: 5px;
}

.user-image > img,
.repo-image {
  width: 55px;
  height: 55px;
}

/*For the various images of the repos, octicons, deploys, etc*/

.repo-octicon-small {
  font-size: 36px !important;
}

.repo-image-small {
  padding: 5px !important;
}

.user-image-small > img,
.repo-image-small > .repo-octicon-small{
  width: 36px;
  height: 36px;
}

/*For the lists of repos, pull requests, deploys, comments, and users*/

.pulls, .comments, .users, .repos, .teams, .deploys {
  margin: 15px 0px 15px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users {
  margin: 0px 0px 15px 0px;
}

.pulls > .col, .comments > .col, .users > .col, .repos > .col, .deploys > .col {
  padding: 0px 5px 0px 5px;
}

.row .single-pull,
.row .single-comment,
.row .single-user,
.row .single-repo,
.row .single-team,
.row .single-deploy {
  padding:5px;
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

.single-pull.group-header,
.single-deploy.group-header {
  padding: 10px;
  background-color: #F5F5F5;
}
.group-header > h3{
  margin: 0px;
}
.comment-info > .well {
  word-wrap: break-word;
  padding: 10px;
  margin-bottom: 5px;
}

.single-pull > .pull-info,
.single-user > .user-info,
.single-repo > .repo-info,
.single-team > .team-info,
.single-deploy > .deploy-info, {
  padding: 0px;
}

.pull-info > h4,
.user-info > h4,
.repo-info > h4,
.deploy-info > h4 {
  margin: 0px;
}

/*Other extraneous bits that format the UI*/

.push-down {
  margin-top: 8px;
}

.push-down-farther {
 margin-top: 15px;
}

.subtle:hover {
  text-decoration: none;
}

.header {
  text-align: center;
  margin: 0px;
}

a.header:hover {
  cursor: pointer;
  text-decoration: none;
}
