<div class="container" %>
  <div class="row" %>
    <div class="col col-lg-3 col-md-3 col-sm-3">

      <div class="form-group">
        <input class="select2-control" id="repos">
        </input>
      </div>
      <div class="form-group">
        <input class="select2-control" id="users">
        </input>
      </div>

      <hr>
      <h4> Labels </h4>
      <% @labels.each do |label| %>
        <div class="checkbox">
          <label>
            <input type="checkbox"> <%= label.name %> 
            <span class="badge pull-right"><%= label.pull_request_count %></span>
          </label>
        </div>
      <% end %>

    </div>
    <div class="col col-lg-9 col-md-9 col-sm-9">

      <div id="state-group" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" id="all">
          <input type="radio" name="state"> All
        </label>
        <label class="btn btn-default" id="open">
          <input type="radio" name="state"> Open
        </label>
        <label class="btn btn-default" id="closed">
          <input type="radio" name="state"> Closed
        </label>
      </div>

      <div id="sort-group" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" id="desc">
          <input type="radio" name="sort"> Newest
        </label>
        <label class="btn btn-default" id="asc">
          <input type="radio" name="sort"> Oldest
        </label>
      </div>

      <div class="pulls">
        <%= render partial: 'hubstats/partials/pull', collection: @pull_requests, as: :pull %>
      </div>

    </div>
  </div>
</div>