<div class="container" id="repo">
  <div class="row">
    <div class="col col-lg-7">
      <div class="row">
        <h1 class="title text-center"> <%= @pull_request.title.titleize %> </h1>
      </div>
      <div class="row">
        <h3> Comments </h3>
        <table class="table">
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.body %> by <b> <%= comment.user.login %> </b> <%= distance_of_time_in_words(DateTime.now,comment.created_at) %> ago </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</div>

