<div class="container" id="repo">
  <div class="row">
    <h3> <%= @pull_request.title.titleize %> </h3>
    <%= render 'hubstats/metrics/quick_stats' %>
  </div>

  <div class="col col-lg-7">
    <%= render 'hubstats/metrics/comments_table' %>
  </div>
</div>

