<!-- Show the comments or say there are no comments -->
<% if @comments.length > 0 %>
  <div class="comments">
    <%= render partial: 'hubstats/partials/comment', collection: @comments, as: :comment %>
  </div>
<% else %>
  <p> No comment information available </p>
<% end %>
