<!-- Show the deploys or say there are no deploys available -->
<% if @deploys.length > 0 %>
  <div class="deploys">
    <%= render partial: 'hubstats/partials/deploy-condensed', collection: @deploys, as: :deploy %>
  </div>
<% else %>
  <p> No deployment information available</p>
<% end %>
