<% if @deploys.length > 0 %>
  <div class="deploys">
    <%= render partial: 'hubstats/partials/deploys-condensed', collection: @deploys, as: :deploy %>
  </div>
<% else %>
  <p> No deploys to show </p>
<% end %>
