<!-- Show the pull requests in a grouped format or say there are no deploys -->
<% if @pull_requests.length > 0 %>
  <% if @groups %>
      <% @groups.each do |group| %>
        <div class="pulls">
          <div class="row single-pull group-header">
            <h3> <%= group[0] %> </h3>
          </div>
          <%= render partial: 'hubstats/partials/pull', collection: group[1], as: :pull %>
        </div>
      <% end %>
  <% else %>
    <%= render 'hubstats/tables/pulls' %>
  <% end %>
<% else %>
  <p> No pull requests to show </p>
<% end %>

