<!-- Show the pull requests or say there are no pull requests -->
<% if @pull_requests.length > 0 %>
  <div class="pulls">
    <%= render partial: 'hubstats/partials/pull', collection: @pull_requests, as: :pull %>
  </div>
<% else %>
  <p> No pull request information available </p>
<% end %>

