<% if @pull_requests.length > 0 %>
  <div class="pulls">
    <%= render partial: "hubstats/partials/pull-condensed", collection: @pull_requests, as: :pull %>
  </div>
<% else %>
  <p> No pull requests to show </p>
<% end %>

