<!-- Show the QA Signoffs or say there are no signoffs available -->
<% if @qa_signoffs.length > 0 %>
  <div class="qa_signoffs">
    <%= render partial: 'hubstats/partials/qa_signoffs_condensed', collection: @qa_signoffs, as: :qa_signoffs %>
  </div>
<% else %>
  <p> No QA signoff information available</p>
<% end %>
