<% if @repos.length > 0 %>
  <div class="repos">
    <%= render partial: "hubstats/partials/repo-condensed", collection: @repos, as: :repo %>
  </div>
<% else %>
  <p> No repos to show </p>
<% end %>

