<!-- Either say there are no repos to show, or show all of the stat titles along with the stats/repos -->
<% if @repos.length > 0 %>
  <div class="repos">
    <div class="row single-repo header">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <a class="header desc" id="name"> Repository Name <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1" ></div> <!-- Empty column just to make space -->
<!--       <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="deploys"> Deployments <span class="octicon"></span> </a>
      </div> -->
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="pulls"> Merged Pull Requests <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="comments"> Comments <span class="octicon"></span></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="additions"> Average Additions <span class="octicon"></span></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="deletions"> Average Deletions <span class="octicon"></span></a>
      </div>
    </div>
    <%= render partial: 'hubstats/partials/repo', collection: @repos, as: :repo %>
  </div>
<% else %>
  <p> No repository information available </p>
<% end %>

