<!-- Either say there are no teams to show, or show all of the stat titles along with the stats/teams -->
<% if @teams.length > 0 %>
  <div class="teams">
    <div class="row single-user header">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="name"> Team Name <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc"> Developers / Reviewers <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="pulls"> Merged Pull Requests <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="comments"> Comments <span class="octicon"></span></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="repocount"> Repositories <span class="octicon"></span></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="netadditions"> Net Additions <span class="octicon"></span></a>
      </div>
    </div>
    <%= render partial: 'hubstats/partials/team', collection: @teams, as: :team %>
  </div>
<% else %>
  <p> No team information available </p>
<% end %>
