<!-- Either say there are no teams to show, or show all of the stat titles along with the stats/teams -->
<% if @teams.length == 0 %>
  <div class="teams">
    <div class="row single-team header">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <span> Team Name <span class="octicon"></span> </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <span> Developers / Reviewers <span class="octicon"></span> </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <span> Merged Pull Requests <span class="octicon"></span> </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <span> Pull Requests per Developer <span class="octicon"></span></span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <span> Comments <span class="octicon"></span></span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <span> Comments per Reviewer <span class="octicon"></span></span>
      </div>
    </div>
    <%= render partial: 'hubstats/partials/team', collection: @teams, as: :team %>
  </div>
<% else %>
  <p> No team information available </p>
<% end %>
