<!-- Show the users or say there are no users -->
<% if @users.length > 0 %>
  <div class="users">
    <%= render partial: 'hubstats/partials/user-condensed', collection: @users, as: :user %>
  </div>
<% else %>
  <p> No user information available </p>
<% end %>
