<!-- Either say there are no users to show, or show all of the stat titles along with the stats/users -->
<% if @users.length > 0 %>
  <div class="users">
    <div class="row single-user header">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a class="header desc" id="name"> GitHub Username <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="deploys"> Deployments <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="pulls"> Pull Requests <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="comments"> Comments <span class="octicon"></span></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="netadditions"> Net Additions <span class="octicon"></span></a>
      </div>
    </div>
    <%= render partial: 'hubstats/partials/user', collection: @users, as: :user %>
  </div>
<% else %>
  <p> No users to show </p>
<% end %>
