<% if @users.length > 0 %>
  <div class="users">
    <div class="row single-user header">
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
        <a class="header desc" id="deploys"> Deploys <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="pulls"> Pulls <span class="octicon"></span> </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="comments"> Comments <span class="octicon"></span></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="additions"> Additions <span class="octicon"></span></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <a class="header desc" id="deletions"> Deletions <span class="octicon"></span></a>
      </div>
    </div>
    <%= render partial: 'hubstats/partials/user', collection: @users, as: :user %>
  </div>
<% else %>
  <p> No users to show </p>
<% end %>
