<% if @users.length > 0 %>
  <div class="users">
    <%= render partial: 'hubstats/partials/user-condensed', collection: @users, as: :user %>
  </div>
<% else %>
  <p> No users to show </p>
<% end %>
