
<div class="container" id="splash">
  <div class="row">
    <div class="col col-lg-7">
      <h1 class="title"> Statsicab </h1>
      <h3> Pull Requests from Last Week: </h3>
      <% @pull_requests.each do |pr| %>
        <b><%= pr.title %></b> by <b> <%= pr.user.login %> </b> <%= distance_of_time_in_words(DateTime.now,pr.closed_at) %> ago </br>
      <% end %>
    </div>

    <div class="col col-lg-4 col-lg-offset-1">
    <h4> Currently Under Development </h4>
    </div>
  </div>
</div>